* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #e9e6e6;

}



/* responsive */
@media screen and (max-width: 800px) {
    aside {
        float: left;
        width: 100%;
        padding: 0;
    }

    #content {
        width: 100%;
        float: left;
    }

    #rumus {
        width: 400px;
        height: 200;
    }

}

/* navbar */
#header {
    width: 100%;
    position: absolute;

}

#header nav {
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}

#header nav .nav-link {
    color: #d8d8d8;
    font-size: 15px;
    margin-left: 15px;
}

#header nav .nav-link:hover {
    color: white;
    background-color: #66666665;

}

#header nav li {
    color: black;
}

#header nav form a {
    margin-left: 10px;
}

#header #brand {
    font-size: 25px;
    color: white;
}

#header::before {
    background-color: white;
    color: black;
}

.primary {
    list-style: none;
    position: relative;

}

.primary:after {
    clear: both;
}

.primary:before,
.primary:after {
    content: " ";
    display: table;
}

/* prime */
ul.primary li a {
    color: #d8d8d8;
    font-size: 15px;
    display: block;
    margin-left: 25px;
    text-decoration: none;


}

ul.primary li:last-child a {
    border-right: none;
}

/* subs */
ul.sub {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    text-decoration: none;
    list-style: none;
}

ul.sub li {
    float: left;
    margin: 0;
}

ul.sub li a {
    border-bottom: 2px solid orangered;
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px 150px 5px 15px;
    background-color: rgb(238, 238, 238);
    margin-left: 0px;
    color: #000;
}


ul.sub li a:hover {
    color: #272727;
    background-color: #d1d1d1;

}

/* sub display*/
ul.primary li:hover ul {
    display: block;
    color: white;
    background-color: #66666600;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* keeps the tab background white */
ul.primary li:hover {
    color: white;

    text-shadow: none;

}


@media only screen and (max-width: 600px) {

    li {
        float: none;
    }

    ul.primary li:hover a {
        color: white;
        background-color: #ebebeb;
        text-shadow: 1px 1px #000;
    }

    ul.primary li:hover ul {
        display: block;
        color: white;
        background-color: #66666665;
    }

    ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }

    ul.sub li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }

    ul.sub li a:hover {
        color: #ccc;
        background: none;
    }
}

h2 {
    color: orange;
}


/* main */


main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 80%;

}



aside {
    float: right;
    width: 18%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 50px;
    text-align: left;
}

aside .foto {
    width: 120px;
    height: 150px;
    border-radius: 20px;
    margin-left: 45px;

}

aside a {
    margin-left: 10px;
}

.box {
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow: auto;
    background-color: #f1f1f1;
}

.box img {
    width: 500px;
    max-height: 500px;
    object-fit: cover;
    float: left;
    padding-right: 20px;
    border-radius: 10px;
    object-position: center;
}

.box .more {
    display: block;
    border-radius: 15px;
    margin-top: auto;
    font-weight: bold;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin-left: auto;
}

/* footer */
footer {

    padding: 10px;
    text-align: center;
    color: white;

}