* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    background-color: #e9e6e6;
}

/* navbar */
.my-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.carousel-item {
    height: 30vh;
    background: no-repeat center center scroll;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    z-index: 10;
    width: 100%;
    position: absolute;
}

#header nav {
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;

}

#header nav .nav-link {
    color: #d8d8d8;
    font-size: 15px;
    margin-left: 15px;
}

#header nav .nav-link:hover {
    color: white;
    background-color: #66666665;

}

#header nav li {
    color: black;
}

#header nav form a {
    margin-left: 10px;
}

#header #brand {
    font-size: 25px;
    color: white;
}

#header::before {
    background-color: white;
    color: black;
}

.primary {
    list-style: none;
    position: relative;

}

.primary:after {
    clear: both;
}

.primary:before,
.primary:after {
    content: " ";
    display: table;
}

/* prime */
ul.primary li a {
    color: #d8d8d8;
    font-size: 15px;
    display: block;
    margin-left: 25px;
    text-decoration: none;


}

ul.primary li:last-child a {
    border-right: none;
}

/* subs */
ul.sub {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    text-decoration: none;
    list-style: none;
}

ul.sub li {
    float: left;
    margin: 0;
}

ul.sub li a {
    border-bottom: 2px solid orangered;
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px 150px 5px 15px;
    background-color: rgb(238, 238, 238);
    margin-left: 0px;
    color: #000;
}


ul.sub li a:hover {
    color: #272727;
    background-color: #d1d1d1;

}

/* sub display*/
ul.primary li:hover ul {
    display: block;
    color: white;
    background-color: #66666600;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* keeps the tab background white */
ul.primary li:hover {
    color: white;

    text-shadow: none;

}


@media only screen and (max-width: 600px) {

    li {
        float: none;
    }

    ul.primary li:hover a {
        color: white;
        background-color: #ebebeb;
        text-shadow: 1px 1px #000;
    }

    ul.primary li:hover ul {
        display: block;
        color: white;
        background-color: #66666665;
    }

    ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }

    ul.sub li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }

    ul.sub li a:hover {
        color: #ccc;
        background: none;
    }
}




/* Banner */

.banner {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
    color: #d8d8d8;
    padding: 6em 0;
    text-align: center;
    height: 100px;
}


.banner:before {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 72, 80, 0.25);
}

.banner .inner {
    position: relative;
    z-index: 1;
}

.banner .inner :last-child {
    margin-bottom: 0;
}


.banner h2 {
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.banner p {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.banner .row {
    width: auto;
    position: relative;
    justify-content: center;
    height: 50px;
}

.banner select {
    height: 50px;
}

.banner input {
    height: 50px;
}

.banner button {
    height: 50px;
}

/* card image */

.row {
    margin-bottom: 20px;
}

.card-detail .card-image {
    width: 100%;
    position: relative;

}

.modal-content .modal-image {
    width: 100%;

}

.card-detail .card-image img {
    cursor: pointer;
    transition: 0.3s;
}

.card-detail .card-image h1 {
    cursor: pointer;
    transition: 0.3s;
}

.card-detail .watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.301);
    opacity: 5px;
}

.card-detail .card-icon {
    font-size: 20px;
    margin-left: auto;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
}

.card-icon .icon-item {
    background-color: #fff;
    border: none;
    color: #666666;
    text-decoration: none;
    margin-right: 15px;
}

.icon-item:hover {
    color: black;
}

.card-ket {
    margin-left: auto;
    margin-right: 8px;
    margin-top: -12px;
    margin-bottom: 10px;
}

.card-ket span {
    color: #666666;
    margin-right: 15px;
}

.modal-body .download {
    font-size: large;
    border-radius: 15px;
}

/* The Masonry Container */


.masonry {
    max-width: 100%;
    max-height: 50%;
    column-gap: 5px;
    column-count: 3;
    max-block-size: 500px;

}


/* The Masonry hover */
.item {
    background: #fff;
    margin-top: 5px;
    position: relative;
    max-width: 460px;
}

.item img {
    width: 100%;
    height: 100%;
    max-height: 250px;
}

.button-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .5s ease;
    overflow: hidden;

}

.button-overlay .judul-overlay {
    visibility: hidden;
    position: absolute;
    background-color: none;
    width: inherit;
    left: 0;
    top: 0;
}

.judul-overlay p {
    color: white;
    font-size: 15px;
    background-image: linear-gradient(#474747b2, rgba(250, 250, 250, 0));
    padding: 5px 5px;
}

.item:hover .button-overlay {
    height: 100%;
    position: static;

}

.item:hover .judul-overlay {
    visibility: visible;
}



.link.save:hover span {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

.save span:before {
    content: '';
    /*   width: 0;
    height: 0; */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(80, 79, 79, 0.719);
    position: absolute;
    padding-left: 5px;
    bottom: -5px;
    left: 55px;
}

span {
    background: rgba(80, 79, 79, 0.719);
    border-radius: 25px;
    color: wheat;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: -25px;
    padding: 5px 7px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.link {
    position: absolute;
    background-color: #666666;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.link .link-item {
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
    text-decoration: none;

}

.link .link-button {
    position: relative;
    margin-left: 10px;
    border-radius: 15px;
}

.rows .see {
    border: 1px solid rgb(32, 32, 32);
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    margin-left: 42%;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}


/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 2;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 1;
    }
}



/* footer */
footer {
    margin-top: 50px;
    padding-top: 10px;
    color: white;
}

footer a {
    font-style: none;
    color: #6e6e6e;
}

footer a:hover {
    color: #d1d1d1;
}